In [1]:
!pip install matplotlib seaborn

Collecting matplotlib
  Downloading matplotlib-3.10.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (11 kB)
Collecting seaborn
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.2-cp312-cp312-macosx_11_0_arm64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.57.0-cp312-cp312-macosx_10_13_universal2.whl.metadata (102 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.8-cp312-cp312-macosx_11_0_arm64.whl.metadata (6.2 kB)
Requirement already satisfied: numpy>=1.23 in /Users/chandanmohan/Desktop/Reservation-Prediction/venv/lib/python3.12/site-packages (from matplotlib) (2.2.4)
Requirement already satisfied: packaging>=20.0 in /Users/chandanmohan/Desktop/Reservation-Prediction/venv/lib/python3.12/site-packages (from matplotlib) (24.2)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.2.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (8.9 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Users/chandanmohan/Desktop/Reservation-Prediction/venv/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: pandas>=1.2 in /Users/chandanmohan/Desktop/Reservation-Prediction/venv/lib/python3.12/site-packages (from seaborn) (2.2.3)
Requirement already satisfied: pytz>=2020.1 in /Users/chandanmohan/Desktop/Reservation-Prediction/venv/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/chandanmohan/Desktop/Reservation-Prediction/venv/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/chandanmohan/Desktop/Reservation-Prediction/venv/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.1-cp312-cp312-macosx_11_0_arm64.whl (8.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.0/8.0 MB 36.2 MB/s eta 0:00:00a 0:00:01
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading contourpy-1.3.2-cp312-cp312-macosx_11_0_arm64.whl (255 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.57.0-cp312-cp312-macosx_10_13_universal2.whl (2.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 47.4 MB/s eta 0:00:00
Downloading kiwisolver-1.4.8-cp312-cp312-macosx_11_0_arm64.whl (65 kB)
Downloading pillow-11.2.1-cp312-cp312-macosx_11_0_arm64.whl (3.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 46.8 MB/s eta 0:00:00
Downloading pyparsing-3.2.3-py3-none-any.whl (111 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.2 cycler-0.12.1 fonttools-4.57.0 kiwisolver-1.4.8 matplotlib-3.10.1 pillow-11.2.1 pyparsing-3.2.3 seaborn-0.13.2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [3]:
import warnings
warnings.simplefilter("ignore")

In [5]:
df = pd.read_csv("/Users/chandanmohan/Desktop/Reservation-Prediction/artifacts/raw/train.csv")
df.head()

,Unnamed: 0,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,5884,INN05885,1,0,0,2,Meal Plan 2,0,Room_Type 1,257,2017,7,1,Offline,0,0,0,80.00,0,Not_Canceled
1,9552,INN09553,1,0,0,2,Meal Plan 1,1,Room_Type 1,0,2017,10,27,Corporate,1,0,1,65.00,0,Not_Canceled
2,28900,INN28901,2,0,2,3,Meal Plan 1,0,Room_Type 1,6,2018,6,26,Online,0,0,0,103.64,0,Canceled
3,17603,INN17604,1,0,1,2,Meal Plan 1,0,Room_Type 1,19,2018,5,2,Online,0,0,0,120.00,0,Not_Canceled
4,10754,INN10755,1,0,0,1,Meal Plan 1,0,Room_Type 1,8,2018,5,25,Online,0,0,0,106.25,1,Not_Canceled

In [7]:
df.columns

Index(['Unnamed: 0', 'Booking_ID', 'no_of_adults', 'no_of_children',
       'no_of_weekend_nights', 'no_of_week_nights', 'type_of_meal_plan',
       'required_car_parking_space', 'room_type_reserved', 'lead_time',
       'arrival_year', 'arrival_month', 'arrival_date', 'market_segment_type',
       'repeated_guest', 'no_of_previous_cancellations',
       'no_of_previous_bookings_not_canceled', 'avg_price_per_room',
       'no_of_special_requests', 'booking_status'],
      dtype='object')

In [8]:
df.drop(columns=["Unnamed: 0","Booking_ID"],inplace=True)
df.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,1,0,0,2,Meal Plan 2,0,Room_Type 1,257,2017,7,1,Offline,0,0,0,80.00,0,Not_Canceled
1,1,0,0,2,Meal Plan 1,1,Room_Type 1,0,2017,10,27,Corporate,1,0,1,65.00,0,Not_Canceled
2,2,0,2,3,Meal Plan 1,0,Room_Type 1,6,2018,6,26,Online,0,0,0,103.64,0,Canceled
3,1,0,1,2,Meal Plan 1,0,Room_Type 1,19,2018,5,2,Online,0,0,0,120.00,0,Not_Canceled
4,1,0,0,1,Meal Plan 1,0,Room_Type 1,8,2018,5,25,Online,0,0,0,106.25,1,Not_Canceled

In [10]:
df.shape

(28294, 18)

In [11]:
df.isnull().sum()

no_of_adults                            0
no_of_children                          0
no_of_weekend_nights                    0
no_of_week_nights                       0
type_of_meal_plan                       0
required_car_parking_space              0
room_type_reserved                      0
lead_time                               0
arrival_year                            0
arrival_month                           0
arrival_date                            0
market_segment_type                     0
repeated_guest                          0
no_of_previous_cancellations            0
no_of_previous_bookings_not_canceled    0
avg_price_per_room                      0
no_of_special_requests                  0
booking_status                          0
dtype: int64

In [12]:
df.duplicated().sum()

np.int64(7405)

In [13]:
df.drop_duplicates(inplace=True)

In [15]:
df.shape

(20889, 18)

In [16]:
df.columns

Index(['no_of_adults', 'no_of_children', 'no_of_weekend_nights',
       'no_of_week_nights', 'type_of_meal_plan', 'required_car_parking_space',
       'room_type_reserved', 'lead_time', 'arrival_year', 'arrival_month',
       'arrival_date', 'market_segment_type', 'repeated_guest',
       'no_of_previous_cancellations', 'no_of_previous_bookings_not_canceled',
       'avg_price_per_room', 'no_of_special_requests', 'booking_status'],
      dtype='object')

In [17]:
df["no_of_adults"].value_counts()

no_of_adults
2    15147
1     3899
3     1727
0      102
4       14
Name: count, dtype: int64

In [18]:
df["no_of_children"].value_counts()

no_of_children
0     18857
1      1219
2       798
3        13
9         1
10        1
Name: count, dtype: int64

In [19]:
df["no_of_weekend_nights"].value_counts()

no_of_weekend_nights
0    8969
1    5911
2    5770
3     106
4      99
5      19
6      14
7       1
Name: count, dtype: int64

In [20]:
df["no_of_week_nights"].value_counts()

no_of_week_nights
2     5792
1     5728
3     4481
4     1933
0     1457
5     1110
6      148
7       84
8       50
10      45
9       24
11      13
14       6
13       5
12       5
15       4
16       2
17       2
Name: count, dtype: int64

In [21]:
df["booking_status"].value_counts()

booking_status
Not_Canceled    14894
Canceled         5995
Name: count, dtype: int64